/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/_ide_helper.php
/.idea/commandlinetools/Composer_2_23_22__8_43_AM_c.xml
/.idea/commandlinetools/Laravel_2_23_22__8_43_AM_artisan.xml
/.idea/symfony2.xml
.idea
/.idea
/storage/files/
